{% extends 'base.html' %}
{% block content %}
<h1>{{ investment.company }}</h1>
<p>{{ investment.description }}<br> Market: {{investment.market}} <br> Price: $ {{investment.price}} <br> Option: {{investment.option}} <br> Volume: {{investment.volume}} <br>  </p>
<p>Investment by {{ investment.user.username }} on {{ investment.created_at }}</p>
{% if investment.user == user %}
<p><a href="{% url 'investment_update' pk=investment.id %}">Edit Investment</a></p>
<p><a href="{% url 'investment_delete' pk=investment.id %}">Delete Investment</a></p>
{% endif %}
{% if analysis.count > 0 %}
<h3>{{ analysis.count }} Analysis {{ analysis.count|pluralize }} </h3>
{% endif %}
{% for analysis in analysis %}
<div class="panel">
  <p>{{ analysis.text }}</p>
  {% if analysis.user == user %}
  <p><a href="{% url 'analysis_update' investment_pk=investment.id analysis_pk=analysis.id %}">Edit Analysis</a></p>
  <p><a href="{% url 'analysis_delete' investment_pk=investment.id analysis_pk=analysis.id %}">Delete Analysis</a></p>
  {% endif %}
  <p> Analysis by {{ analysis.user.username }} on {{ analysis.create_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'analysis_create' pk=investment.id %}">Create Analysis</a></p>
{% endblock %}