{% extends 'base.html' %}
{% block content %}
<h1>{{ investment.company }}</h1>
<p>{{ investment.description }}<br> Market: {{investment.market}} <br> Price: $ {{investment.price}} <br> Option: {{investment.option}} <br> Volume: {{investment.volume}} <br>  </p>
<p>Investment {% if investment.visibility == 0 %} by <a href="{% url 'user_detail' slug=investment.user.username %}">{{ investment.user.username }}</a> {% endif %} on {{ investment.created_at }}</p>
{% if investment.user == user %}
<p><a href="{% url 'investment_update' pk=investment.id %}">Edit Investment</a></p>
<p><a href="{% url 'investment_delete' pk=investment.id %}">Delete Investment</a></p>
{% endif %}
{% if analysis.count > 0 %}
<h3>{{ analysis.count }} Analysis {{ analysis.count|pluralize }} </h3>
{% endif %}
{% for analysis in analysis %}
<div class="panel">
  <p>{{ analysis.text }}</p>
  {% if analysis.user == user %}
  <p><a href="{% url 'analysis_update' investment_pk=investment.id analysis_pk=analysis.id %}">Edit Analysis</a></p>
  <p><a href="{% url 'analysis_delete' investment_pk=investment.id analysis_pk=analysis.id %}">Delete Analysis</a></p>
  {% endif %}
  <p>Analysis {% if analysis.visibility == 0 %} by <a href="{% url 'user_detail' slug=analysis.user.username %}">{{ analysis.user.username }}</a> {% endif %} on {{ analysis.created_at }}</p>
  <form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ analysis.vote_set.all.count }} Vote{{  analysis.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="analysis" value="{{ analysis.id }}" />
    <input type="hidden" name="investment" value="{{ investment.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if analysis in user_votes %}
    <button class="btn btn-link">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    {% else %}
    <button class="btn btn-link">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    {% endif %}
  </form>
</div>
{% endfor %}
{% if not user_analysis %}
<p><a href="{% url 'analysis_create' pk=investment.id %}">Create Analysis</a></p>
{% endif %}
{% endblock %}