{% extends 'base.html' %}
{% block content %}
{% for investment in object_list %}
<div class="panel">
  <h3><a href="{{ investment.get_absolute_url }}">{{ investment.company }}</a></h3>
  <p>Investment by <a href="{% url 'user_detail' slug=investment.user.username %}">{{ investment.user.username }}</a> on {{ investment.created_at }}</p>
  <p>{{ investment.vote_set.all.count }} Vote{{ investment.vote_set.all.count|pluralize }}</p>
  <form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="investment" value="{{ investment.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    <button>+</button>
  </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}