{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron">
  <h1><center><img width="100px" height="55px" align=LEFT src="{% static "image/money.png" %}"><p style="font-family:'Merriweather'"><font size="10.0vw">Mr. Investor - Where The Best Invest</font><img width="100px" height="55px" align=RIGHT src="{% static "image/money.png" %}"></p></center></div>
{% else %}
<div class="jumbotron">
  <h1><p style="font-family:'Courier New'">Welcome to Mr.Investor!</p>
        <p><img src="{% static "image/money.png" %}"></p>
  <p><a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">Sign up</a></p>
</div>
{% endif %}
{% endblock %}
